.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 443px;
}

.u-section-1 .u-text-1 {
  margin: 41px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 208px;
  grid-gap: 22px 22px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 16.5px));
    min-height: 172px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-3 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-4 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 1345px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -249px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 819px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 29px;
    margin-bottom: 45px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 898px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 461px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 758px;
  margin: 27px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 23px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 12px 6px;
}

.u-section-2 .u-shape-1 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-group-1 {
  width: 450px;
  min-height: 106px;
  height: auto;
  margin: -50px 0 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 6px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 13px 12px 6px;
}

.u-section-2 .u-shape-2 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-group-2 {
  width: 450px;
  min-height: 106px;
  height: auto;
  margin: -50px 0 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 6px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 13px 12px 6px;
}

.u-section-2 .u-shape-3 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-group-3 {
  width: 450px;
  min-height: 106px;
  height: auto;
  margin: -50px 0 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 6px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: 0 auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 348px;
    margin-left: 84px;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 348px;
    margin-left: 84px;
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 348px;
    margin-left: 84px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-1 {
    width: 251px;
    margin-bottom: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-2 {
    width: 251px;
    margin-bottom: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-3 {
    width: 251px;
    margin-bottom: -36px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-2 .u-group-1 {
    width: 449px;
    margin-bottom: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    width: 449px;
    margin-bottom: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 0;
  }

  .u-section-2 .u-group-3 {
    width: 449px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 624px;
  }

  .u-section-2 .u-group-1 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-3 {
    width: 330px;
    margin-top: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 156px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 17px;
  position: relative;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 123px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 123px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 123px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 123px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 188px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 188px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 188px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2320px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 282px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 282px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 115px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 115px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 115px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 20px;
  }
}